/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    color: #606060;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}







/* ここから------ */

/*--------------------
header
---------------------*/

.container-sp{  
    margin:0 20px
}

/* pc用 */

.header-right{
    display: none;
}

/* スマホ用 */

.menu-btn-sp{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
}
.header-nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
    list-style-type: none;  
    padding-bottom:20px;
}
    .sp-nav-list{
    display: inline-block;
    width: 100%;
    height: auto;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;   
    padding-bottom: 20px; 
}
.sp-nav-list:hover{
    /* background-color: #fff; */
    text-decoration: underline #fff;
}
  /* アニメーション前のメニューの状態 */
.header-nav{
    pointer-events: none;
    opacity: 0;
    transform-origin: center;
    transform: scale(.5);
    transition: all .3s ease;
}
  /* アニメーション後のメニューの状態 */
  .header-nav.is-active{
    pointer-events: auto;
    opacity: 1;
    transform: scale(1.0);
}


.top-title{
    height: 400px;
    background: radial-gradient(rgb(195,245,242),rgb(86, 211, 203));
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-title-name{
    font-size: 30px;
    margin-bottom: 15px;
}
.top-title-p{
    font-size: 30px;
    text-align: center;
}


/*--------------------
main
---------------------*/
.section-title{
    padding: 35px 0;
    background: radial-gradient(rgb(209, 247, 225),rgb(219, 247, 233));
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

/* main */
/* about-wrapper */

.about-section{
    /* height: 300px; */
    display: flex;
    align-items: center;
    margin-bottom:25px;
}
.about-section{
    display: flex;
    flex-direction: column;
}
.about-profile{
    margin-top:25px;
    text-align:center;
}
.about-name-ja{
    font-size: 22px;
    margin-bottom:10px;
}
.about-birthday{
    margin-bottom:5px;
}
.about-text{
    margin:20px 0;
    line-height: 23px;
    text-align:left;
}
.about-sns{   
    font-size:30px;
    /* margin:20px 10px 0 0 ; */
    margin:8px auto;
}

.profile-01{
    margin-right:10px;
    display: inline-block;
    text-align-last: justify;
    width: 75px;
   
}
.profile-info{
    margin-bottom:15px;
}
.profile-massege-title{
    font-weight: normal;
    margin-bottom:6px;
}
.profile-massege{
    line-height:25px;
}
.profile-br{
    margin-bottom:10px;
}


.fa-instagram{
    color:rgb(82, 177, 240);
}
.fa-instagram:hover{
    color:rgb(247, 90, 116);
    transform: scale(1.5);    
}
/* .fa-facebook-square:hover{
    color:rgb(31, 54, 255);
    transform: scale(1.5); 
} */


/* main */
/* skills */

.skills-section-title{
    margin: 20px 0;
    font-size: 20px;
    border-bottom:2px solid rgb(86, 211, 203);
    padding: 5px 10px 5px 8px;
    font-size: 25px;
    margin-right: 20px;
    display: block;
}

.language{
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
 

}
.devicon-visualstudio-plain{
    color:blue;
}
.icon{
    font-size:25px;
    margin-right:20px

}
.skills-section-item{
  list-style-type: none;
}
.skills-section-item li{
   display: flex;
   margin-left:8px;
}
.coding-imge-box{
    display: none;
}


/* main */
/* works-wrapper */

.works-title{
    margin: 20px 0;
    font-size: 20px;
    border-bottom:2px solid rgb(86, 211, 203);
    padding: 5px 10px 5px 8px;
    font-size: 25px;
    margin-right: 20px;
    display: block;
}
.works-title-sub{
    font-size: 20px;
    margin-bottom: 20px;
    margin-left:8px;
}

.ggh{
    margin:0 auto;
    width: 100%;
}


.works-image-hover{
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin:5px 5px 4px 7px;
    position: relative;
}
.works-image-hover .caption{
    font-size:130%;
    color:#fff;
    padding-top:80px;
    padding-left:0px
}
.works-image-hover .mask, 
.works-image-hover .mask2, 
.works-image-hover .mask3,
.works-image-hover .mask4,
.works-image-hover .mask5,
.works-image-hover .mask6{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    -webkit-transition:	all 0.6s ease;
	transition:		all 0.5s ease;
}
.works-lity-container{
    /* background-color: rgba(9, 9, 9, 0.5); */
    background: rgba(0, 0, 0, 0.9);
    min-width: 100%;
    height:100%;
}
.works-img{
    width: 320px;
}

.works-lity-wrap,
.works-lity-wrap2,
.works-lity-wrap3,
.works-lity-wrap4,
.works-lity-wrap5, 
.works-lity-wrap6{  
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: none;
    
}

.works-image-hover:hover .mask,
.works-image-hover:hover .mask2,
.works-image-hover:hover .mask3,
.works-image-hover:hover .mask4,
.works-image-hover:hover .mask5,
.works-image-hover:hover .mask6{
    opacity:		1;	/* マスクを表示する */
    padding-left:		90px;	/* 右にずらす */
    transition:0.5s;

}
.works-port-item{
    display: flex;
    flex-wrap: wrap;
}

.fa-times-circle{
    font-size:25px;
    position: absolute;
    top: 20px;
    right: 20px;
    color:#fff;
    z-index: 100;
}
.caption{
    font-size: 20px;
    line-height: 26px;
}


 /* footer */

 footer{
    background-color:#606060;;
     /* text-align: center; */
     /* color: #fff; */
     padding:  20px 0;
 }

 .footer-nav{
     list-style-type: none;
 }
 .footer-nav-list{
     text-decoration: none;
     color: #fff;
     display: inline-block;
     padding-bottom: 18px;
 }
 .fa-angle-right{
     margin-right: 5px;
 }
 .footer-nav-list:hover{
    /* background-color: #fff; */
    /* opacity: 0.7; */
    /* transition: 0.8s; */
    /* padding-bottom: 2px; */
   
    text-decoration: underline #606060;
 }

 .copywriter-area{
     text-align: center;
     color:#fff;
     background-color:#606060;
     /* padding: 20px 0; */

 }
 




@media(min-width : 780px){

/* header */

.header-right{
    height:65px;
    background-color: rgb(253,251,239,0.8);
    margin-left: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: block;
}
.header-pc-nav{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}
.header-pc-nav li:hover{
    background-color: #fff;
    opacity: 0.7;
    transition: 0.8s;
    text-decoration: underline #606060;
}
.nav-list{
    padding: 0 20px;
    line-height: 65px;
    text-decoration: none;
    color: #606060;
    font-size: 24px;
    display: inline-block;
}
.top-title{
    height: 650px;
    background: radial-gradient(rgb(195,245,242),rgb(86, 211, 203));
    display: flex;
    justify-content: center;
    align-self: start;
    /* align-items: center; */
}
.about-section{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 200px; */
}

.about-profile{
    width: 45%;
    text-align: left;
    /* align-self: flex-start; */
}
.about-text{
    width: 45%;
}

.header-sp{
    display: none;
}
.top-title-p{
    font-size: 30px;
    text-align: left;
}

.skills-section-title,
.works-title{
    display: block;
    width: 250px;
}
.skills-section{
    margin: 30px 0;
}

.works-image-hover{
    width: 375px;
    height: 280px;
    overflow: hidden;
    margin:5px 5px 4px 7px;
    position: relative;
}
.works-section{
    background-image: url(./imge/keyboard-338502_1920.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    padding: 100px 0 ;
    
}
.works-title{
    color:#fff;
}
.works-title-sub{
    color:#fff;
}

.works-img{
    width: 400px;
}

@media(min-width:1200px){
.container{
    width: 1200px;
    margin: 0 auto;
}
.skills-section-coding{
    display: flex;
    text-align: center;
  
}
.coding-imge-box{
    display: block;

}
.coding-imge{
    vertical-align: bottom;
}
.skills-section{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}
.skills-list{
    width: 50%;
   align-self: center;
}

/* main */
/* works-wrapper */

.slills-container-sp{
    width: 1300px;
    margin: 0 auto;
}




